@import "variables.styl"

.rtl .inline-pop-wrapper .inline-pop-over
  left 0
  right auto

.inline-pop-wrapper
  position relative

  & > button
    height 36px
    line-height 34px
    border 1px solid border-color
    border-radius var(--radius-md)
    background surface-color
    color font-color
    padding 0 12px

    &:hover
      background hover-color

  .pop-header
    border-bottom 1px solid border-color

  .inline-pop-over
    overflow hidden
    position absolute
    top 100%
    right 0
    z-index 3
    box-shadow none
    border 1px solid border-color
    border-radius var(--radius-md)
    background surface-color
    min-width 300px

    .pop-content
      max-height 400px
      overflow auto
      position relative

    .pop-footer
      border-top 1px solid border-color

//RESPONSIVE
@media only screen and (max-width: 768px)
  .inline-pop-wrapper
    .inline-pop-over
      min-width 300px

      .pop-content
        max-height 300px
